img{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.fontbold{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;;
    color: #1a1a1a;
}

.fontlight1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    text-align: right;
    word-spacing: 10px;
    color: #1a1a1a;
    margin-right: 80px;
}

.fontlight2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    text-align: right;
    word-spacing: 20px;
    color: #1a1a1a;
    margin-right: 80px;

}

body{
    background-color: #f1e3c6;
}

.content{
    display: flex;
    text-align: center;

}

.YPOGRAPHIE{
    font-size: 100px;
    font-family: 'Nunito Sans Bold', sans-serif;
    background-color: #1a1a1a;
    color: #f1e3c6;
    width: 30%; 
    margin: 10px;
}

.row1{
    text-align: center;
}

.row2{
    display: flex;
    margin: 5px;
}

.row2 p {
    /*flex: 1 1 0px;*/
    width: 50%;
    margin: 10px;
}

.T{
    font-size: 500px;
    font-family: 'Nunito Sans Bold', sans-serif;
    background-color: #1a1a1a;
    color: #f1e3c6;
    text-align: right;
    width: 70%;
    margin: 10px;
    text-align: center;

}


