/*
Reference Image Emil Ruder:

img{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/

.headers{
    width: 1000px;
    margin: auto;
    text-align: right;
    padding-right: 314px;
    padding-bottom: 12px;
    padding-top: 150px;
}

.fontlight1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: right;
    word-spacing: 15px;
    color: #1a1a1a;
    display: inline;
    margin: 50px;
}

.fontlight2{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: right;
    word-spacing: 50px;
    color: #1a1a1a;
    display: inline;
}

body{
    background-color: #f1e3c6;
}

.content{
    display: flex;
    text-align: center;
    width: 700px;
    margin: auto;
}

.YPOGRAPHIE{
    font-size: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #f1e3c6;
    /*width: 40%; */
    margin: 5px;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 0;

    /*mirror content */
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.row1{
    text-align: center;
    font-size: 250px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #f1e3c6;
}

.row1 p{
    background-color: #1a1a1a;
    border-radius: 1px;
    margin: 5px;
    margin-top: 0;
    padding-bottom: 30px;
    line-height: 217px;
}


.row2{
    display: flex;
    font-size: 140px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #f1e3c6;
}

.row2 p {
    /*flex: 1 1 0px;*/
    width: 50%;
    background-color: #1a1a1a;
    border-radius: 1px;
    margin: 5px;
    justify-content: space-between;
    padding-bottom: 20px;
    line-height: 135px;
}

.row3{
    display: flex;
    font-size: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #f1e3c6;
}

.row3 p{
    width: 50%;
    margin: 5px;
    background-color: #1a1a1a;
    border-radius: 1px;
    margin: 5px;
    justify-content: space-between;
    padding-bottom: 10px;
    line-height: 90px;
}

.row4{
    display: flex;
    font-size: 60px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    color: #f1e3c6;
}

.row4 p{
    width: 50%;
    margin: 5px;
    margin-bottom: 0;
    background-color: #1a1a1a;
    border-radius: 1px;
    justify-content: space-between;
    padding-bottom: 5px;
    line-height: 70px;
}

.T{
    font-size: 700px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    background-color: #1a1a1a;
    border-radius: 1px;
    color: #f1e3c6;
    text-align: right;
    width: 70%;
    margin: 5px;
    text-align: center;
    line-height: 546px;
    flex: 1 0 400px;
    
}

.T p{
    margin: 5px;
}



@media screen and (max-width: 320px){
    .content{
        flex-wrap: wrap;
        flex-shrink: 100%;
    }
    .T{
        flex-shrink: 100%;
    }
    .headers{
        transform: rotate(90deg);
    }
    .YPOGRAPHIE{
        background-color: black;
    }
}

@media screen and (max-width: 768px){
    .content{
        flex-wrap: wrap;
    }
    .T{
        flex-shrink: 100%;
    }
    .headers{
        transform: rotate(90deg);
    }
    .YPOGRAPHIE{
        background-color: blue;
    }
}

@media screen and (max-width: 1280px){
    .YPOGRAPHIE{
        background-color: crimson;
    }
}

}

