    body{
        margin: auto;
    }

  .img1{
    position: left;
    float: left;
    right: 300px;
    width: 300px;
    padding: 10px;
  }

  .img2{
    width: 300px;
    margin: auto;
  }

  .img3{
    position: right;
    float: right;
    right: 300px;
    width: 300px;
    padding: 10px;
  }


  h1{
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 80px;
      background-color: cornsilk;
      padding-top: 20px;
  }

  div{
      width: 1080px;
  }